body {
margin: 0;
border: none;
text-decoration: none;
}
a {
    text-decoration: none !important;
}
.navbara {
    width: 100%;
    height: 5rem;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.titles {
flex-grow: 1;
}
.titles a {
text-decoration: 0;
color: red;
font-family: sans-serif;
font-size: 1.5rem;
}
#logo {
    flex-grow: 5;
    justify-self: start;
}
.titles-current {
    flex-grow: 1;
}
.titles-current a {
    color: white;
    font-family: sans-serif;
    text-decoration: 0;
    font-size: 1.5rem;
    
}
.list {
    flex-grow: 1;
    align-self: auto;
    margin: 1rem;
    display: none;
}
.dropdown {
    background-color: black;
    padding: 1rem;
    text-align: center;
    display: flex;
justify-content: space-around;

}
.bobek {
    text-decoration: 0;
    color: white;

}
.slon{
    background-color: black;
width: 80%;
margin: auto;
padding-bottom: 3rem;
}
@media (max-width: 550px) {
    .titles {
        display: none;

    }
    .titles-current {
        display: none;
    }
    #logo {
        justify-self: ;
    }
    .list {
        display: flex;
    }
    .slon {
        width: 100%;
    }
    .clanky {
       display: inherit !important; 

    }
    
}
.clanek-hlavni{
    margin-top: 3rem;
    padding: 1rem;
    margin: auto;
}

.foto {
    width: 80%;
    margin: auto;
}
.bottom {
width: 100%;
background-color: rgb(105, 0, 0);
padding: 1rem;
border-top-width: 5px;
border-top-color: gray;
color: white;
}
.bottom-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}
.bottom-item {
    align-self: center;
    justify-self: center;

}
.bottom-item-used {
    align-self: center;
    justify-self: center;

    
}
.bottom-item a {
    text-decoration: none;
    color: white;
}
.bottom-item-used a {
    text-decoration: none;
    color: white
}

.gradient-background {
    background: linear-gradient(300deg, black, #292929, #790000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  height: 5%;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    
  }
  .pravitko {
    margin: 1rem;
    width: 100%;
    color: white;
    height: 5px;
  }
  .zelva {
    position: absolute;
  }
  .nadpis {
    
    color: white;
  }
  
  .navbarisko {
    border: none;
border-bottom: 5px;
border-color: black;
border-bottom-color: azure;

border-style: solid;
width: 100%;
  }
  .adropdown {
    opacity: 0;
  }
  .adropdown div a {
color: black;

  }
.clanek-text {
    color: white;
text-decoration: none; 
padding-left: 10%;   
padding-right: 10%;
padding-top: 1rem;
}
.clanky {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
    padding-bottom: 3rem;
}
.clanek {
    justify-self: center;
    color: white;
border-color: white;
border-bottom-style: solid ;
position: relative;
padding-bottom: 3rem;
}
.nadpismal {
    margin: auto;
    color: white;
    justify-self: center;
    padding: 1rem;
}
.obrazek {
width: 90%;

}
.textik {
    color:  white;
    padding: 1rem;
}
.cphoto {
    width: 100%;
}
p {
    margin: 0 !important;
}
.cnadpis {
    font-family: serif;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    margin: auto;
    padding-left: 2rem;
}
.ctext {
    padding: 2rem;
    margin-bottom: 5rem;
}
.followup {
    padding: 2rem;
    margin-top: -3rem;
}
.carka {
    
width: 80%;
margin: auto;
border-top: 3px solid white;
margin-top: 1rem;

}
.datum {
    float: right;
    font-family: serif;
    padding: 1rem;
    margin: 2rem;
}
.autor {
    padding-left: 0.5rem;
    padding: 1rem ;
}
.dato {
    color: white;
    float: right;
    padding-right: 10%;
padding: 1rem;
position: absolute;
bottom: 0.5rem;
right: 0.5rem;
}
.hlavdat {
    color: white;
    float: right;
    padding-right: 10%;
}
